<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="89.0.17" targetFramework="net461" />
  <package id="cef.redist.x86" version="89.0.17" targetFramework="net461" />
  <package id="CefSharp.Common" version="89.0.170" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="89.0.170" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net472" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="font-awesome" version="4.7.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1185.39" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net461" />
</packages>