<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="font-awesome" version="4.7.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net461" />
</packages>